.DS_Store

# Backend
ech-backend/node_modules
ech-backend/temp
ech-backend/.env

# Frontend
ech-frontend/code-hub-frontend/node_modules

# Scraper data
scraper/codegov/.env
scraper/node_modules

# Docker garbage
data-node/
ech-backend/server.log
