.DS_Store
written_part/latex_project/.texpadtmp/

code/scraper/node_modules/*
code/scraper/code.gov/.env

code/ech-backend/node_modules
code/ech-backend/temp
code/ech-backend/.env
code/ech-frontend/code-hub-frontend/node_modules

data-node/