.DS_Store
written_part/latex_project/.texpadtmp/

code/scraper/node_modules/
code/scraper/code.gov/.env

ech-backend/node_modules
ech-backend/temp
ech-backend/.env
ech-frontend/code-hub-frontend/node_modules

data-node/