.html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
a:hover {
  color: #ffd617
}

a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:visited:hover {
  color: #ffd617
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
